.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.progress {
	display: flex;
	height: 2rem;
	overflow: hidden;
	font-size: 0.75rem;
	background-color: #cacccf;
	border-radius: unset;
	margin-top: 5px;
}
.progress-bar {
	background-color: #00ff00;
}
.label {
	color: #fff;
	margin: 6px;
	/* text-align: center; */
	font-size: 13px;
}
.progress-bar-container {
	margin-top: 10px;
}
.MinPlayer-video video {
	border-radius: unset !important;
}
.MinPlayer-video {
	border-radius: unset !important;
}
.MiniPlayer-videoBox {
	border-radius: unset !important;
}
.MiniPlayer {
	border-radius: unset !important;
}
.row {
	transition: 0.5s all;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
